@use '../../../styles/theme/theme';

.closedMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: theme.$secondary;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.openMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: theme.$secondary;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0)
}


.menuLinkText {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: theme.$on-secondary;
    text-decoration: none;
    transition: color 0.3s linear;

    &:hover {
        color: theme.$on-secondary-light;
    }
}