@use '../../../styles/theme/theme';

.image {
    img {
        max-width: 100%;
        border-radius: 4px;
        border-width: 3px;
        border-style: solid;
        border-color: theme.$on-primary;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        // different sizing for larger screens
        @include theme.media(">=tablet") {
            height: fit-content;

        }
    }

    @include theme.media(">iphone-6-7-8-plus") {
        padding-right: 1rem;
    }
}

.imageDiv {
    padding-bottom: 0.9rem;
    
    @include theme.media(">=tablet") {
        display: inline-block;
    }
}