@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

$header-font: 'Fjalla One';
$core-font: 'Lato';
$photo-caption: 'Crimson Text';
