// import theme
@use '../../../styles/theme/theme';

.headingText {
    font-family: theme.$header-font;
    color: theme.$on-primary;
    font-size: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    justify-self: center;
    
    &:hover {
        cursor: pointer;
        color: theme.$on-primary-light;
    }

    transition: 0.3s;

    @include theme.media("<=phone") {
    }

    @include theme.media("<=iphone-6-7-8-plus") {
        max-width: 18.3rem;
    }

    @include theme.media("<=iphone-10") {
        padding-top: 1.5rem;
    }
}

.main {
    display: grid;
    grid-template-columns: 0vw auto;
}
