@use '../../../styles/theme/theme';

.pageContent {
    padding: 2rem;
    flex: 1 0 auto;

    @include theme.media(">iphone-6-7-8-plus") {
        padding: 2rem;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}