@use '../../../styles/theme/theme';

.pageContent {
    padding: 2rem;
    flex: 1 0 auto;

    @include theme.media(">=tablet") {
        padding: 2rem 0 0 0;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}