$primary: #F6F7EB;
$primary-dark: #82846D;

$secondary: #696D7D;
$secondary-dark: #666666;

$on-primary: #22333b;
$on-primary-light: #2d434d;
$on-secondary: #d8d7d7;
$on-secondary-light: #f2f1f1;

$highlight: #FC440F;
