$primary: #f5f1f1;
$primary-dark: #d5d1d1;

$secondary: #696D7D;
$secondary-dark: #666666;

$on-primary: #1d2b32;
$on-primary-light: #4d5a60;
$on-secondary: #c9c7c7;
$on-secondary-light: #f2f0f0;

$highlight: #FC440F;
